 /*シングルスコープファイルです。一か所しか使用しない限定指定のみ記述すること。*/


 .fv{
     &-sb{
        max-width:1440px;
        height: 752px;
        margin-left: auto;
        margin-right: auto;

        background-size: cover;/*縦横比保持しつつ、領域を覆う最小サイズになるよう拡大縮小*/
        background-position: center;/*画像中央基準で画像表示する*/
        display: flex;
        justify-content: center;
    
    }
    &-sl{

        color: white;
        width: 659px;
        height: 171px;
        text-align: center;
        margin-top: 31%;

        
    }
    &-su{
        &-res{
            display: none;
        }
    }
 }

 .concept{
     flex-direction: column;
     align-items: center;/*columnにすると軸が90度変わるので、これでセンタリングする*/

     &-sl{
         flex-direction: column;
         &-upper{
             display: flex;
             justify-content: flex-start;
             font-style: oblique;
         }
         &-middle{
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 60px;
            font-weight: normal;
         }
         &-under{
            display: flex;
            justify-content: space-between;
            align-items: center;
         }
         &-bottom{
            display: flex;
            justify-content: flex-end;
            padding-top: 120px;
         }
         &-su{
             &-res{
                 &-open{
                    display: none;
                 }
                 &-close{
                    display: block;
                 }
             }
         }

     }

     &-sl2{
         display: flex;
         justify-content: flex-end;
     }

     &-su{
         &-p{
             max-width: 500px;
             height: 146px;
         }
         &-img{
             max-width: 440px;
             height: 240px;
         }
         &-p2{
            font-size: 90px;
            opacity: 0.03;
         }
     }
 }

 .works{
     background-image: url(../img/works-bgi@2x.jpg);
    flex-direction: column;
    align-items: center;/*columnにすると軸が90度変わるので、これでセンタリングする*/
    &-sl{
        &-upper{
            display: block;
            text-align: right;
            color: white;
            font-style: oblique
        }
        &-middle{
            justify-content: space-between;
        }
        &-box{
            width: 32%;
            height: 334px;
            background-color: white;

            img{
                width: 100%;
            }
            p{
                padding: 2% 6%;
            }
        }
        &-under{
            p{
            font-size: 90px;
            color: white;
            opacity: 0.15;
            }
        }
    }

}

.service{

    &-sl{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-upper{
            font-style: oblique;
        }

        &-middle{

        }

        &-under{

        p{
            font-size: 90px;
            color:black;
            opacity: 0.05;

            }

        }
        &-box{
            position: relative;
            background-color: black;//hover用に背景を黒くしておく
            p{
                position: absolute;
                transform: translate(-50%, -50%);//中央を位置基準に設定
                top: 50%;
                left: 50%;
                color: white;
                font-size: 40px;
                font-style: oblique;
            }
            img{
                width: 100%;
            }
            img:hover{
                opacity: 0.5;
            }
        }

    }
}

.contact{
    background-image: url(../img/contact-bgi@2x.jpg);
    &-sl{
        flex-direction: column;
        align-items: center;

        &-upper{
            display: block;
            color: white;
            font-style: oblique;
            text-align: right;
        }

        &-under{
            p{
                font-size: 90px;
                color:white;
                opacity: 0.05;
            }
        }
    }

    &-su{
        &-p{
            font-size: 20px;
            color: white;
            font-weight: bold;
        }
    }
}

@media screen and(max-width:430px){
    .fv{
        &-sb{
            height: 600px;
        }

        &-sl{
            margin-top: 60%;
        }
        &-su{
            &-res{
                display: block;
            }
        }
    }

    .concept{
        &-sl{
            &-under{
                flex-direction: column;
                align-items: center;
                img{
                    width: 100%;
                }
            }
        }

        &-su{
            &-p2{
                font-size: 40px;
            }

            &-res{
                &-open{
                   display: block;
                }
                &-close{
                   display: none;
                }
            }

        }

    }

    .works{
        &-sl{
            &-middle{
                flex-direction: column;
                align-items: center;
            }

            &-box{
                width: 90%;
                margin-bottom: 10px;
            }

            &-under{
                p{
                    font-size: 40px;
                }
            }
        }
    }

    .service{
        &-sl{
            &-middle{
                display: flex;
                flex-direction: column;
            }

            &-under{
                p{
                    font-size: 40px;
                }
            }

            &-box{
                p{
                    font-size: 20px;
                }
            }
        }
    }

    .contact{
        &-sl{
            &-under{
                p{
                    font-size: 40px;
                }
            }
        }
    }


    
}